In [54]:
# Importar o driver + by + keys

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# Abrir o navegador diferenciado kk
navegador = webdriver.Chrome()

'''COTAÇÃO DÓLAR'''

# SITE DE ONDE PEGAREMOS OS DADOS (GOOGLE)
navegador.get("https://www.google.com/")

# Entrando no site
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

print("A cotação do dólar hoje é:", cotacao_dolar)

'''COTAÇÃO EURO'''

navegador.get("https://www.google.com/")

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")

navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = (navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value"))

print("A cotação do euro é:", cotacao_euro)

'''COTAÇÃO OURO'''


navegador.get("https://www.melhorcambio.com/ouro-hoje")

navegador.find_element(By.XPATH, '//*[@id="comercial"]').send_keys(Keys.ENTER)

cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")

print("A cotação do ouro hoje é:", cotacao_ouro)

quit(webdriver)

A cotação do dólar hoje é: 5.1347
A cotação do euro é: 5.331179295
A cotação do ouro hoje é: 300.33

In [55]:
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [56]:
tabela.loc[tabela["Moeda"]=="Dólar","Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"]=="Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"] = float(cotacao_ouro)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.134700,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.331179,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.134700,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.134700,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.331179,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.134700,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,300.330000,7000.00,1.15,8050.000

In [60]:
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.134700,5134.648653,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.331179,23990.306828,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.134700,4621.178653,1.70,7649.915
3,IPhone,799.00,Dólar,5.134700,4102.625300,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.331179,15993.537885,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.134700,2467.120656,2.00,4804.800
6,Joia 20g,20.00,Ouro,300.330000,6006.600000,1.15,8050.000